<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos del nuevo alumno</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="Plantilla/plantilla :: encabezado"></header>
        <h2>Datos del nuevo Alumno</h2>
        <a th:href="@{/}"> Regresar </a>
        <br/>
        <form th:action="@{/salvarAlumno}" method="post" th:object="${alumno}">
            <input type="hidden" name="id_alumno" th:field="*{id_alumno}"/>
            <br/>
            <label for="codigo">Codigo: </label>
            <input type="text" name="codigo" th:field="*{codigo}"/>
            <span th:if="${#fields.hasErrors('codigo')}" th:errores="*{codigo}">Error en codigo</span>
            <br/>
            <label for="nombres">Nombres: </label>
            <input type="text" name="nombres" th:field="*{nombres}"/>
            <span th:if="${#fields.hasErrors('nombres')}" th:errores="*{nombres}">Error en nombre</span>
            <br/>
            <label for="apellidos">Apellidos: </label>
            <input type="text" name="apellidos" th:field="*{apellidos}"/>
            <span th:if="${#fields.hasErrors('apellidos')}" th:errores="*{apellidos}">Error en apellidos</span>
            <br/>
            <label for="email">Email: </label>
            <input type="email" name="email" th:field="*{email}"/>
            <span th:if="${#fields.hasErrors('email')}" th:errores="*{email}">Error en email</span>
            <br/>
            <label for="estado">Estado: </label>
            <input type="text" name="estado" th:field="*{estado}"/>
            <span th:if="${#fields.hasErrors('estado')}" th:errores="*{estado}">Error en estado</span>
            <br/>
            <label for="institucion_id">Institucion_id: </label>
            <input type="number" name="institucion_id" th:field="*{institucion_id}"/>
            <span th:if="${#fields.hasErrors('institucion_id')}" th:errores="*{institucion_id}">Error en institucion id</span>
            <br/>
            <label for="departamento_id">Departamentos_id: </label>
            <input type="number" name="departamento_id" th:field="*{departamento_id}"/>
            <span th:if="${#fields.hasErrors('departamento_id')}" th:errores="*{departamento_id}">Error en departamento id</span>
            <br/>
            <label for="usuario_id">Usuario_id: </label>
            <input type="number" name="usuario_id" th:field="*{usuario_id}"/>
            <span th:if="${#fields.hasErrors('usuario_id')}" th:errores="*{usuario_id}">Error en usuario_id</span>
            <br/>
            <input type="submit" name="salvarAlumno" value="Salvar"/>
        </form>
        <footer th:replace="Plantilla/plantilla :: piepagina"></footer>
    </body>
</html>
